.spinner-container {
    min-height: 300px;
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.fs-7 {
    font-size: 12px;
}

.is-invalid-field {
    border: 1px solid red !important;
}